@media screen and (max-width: 960px) {


    html {
    font-size: 7px;
    }
    
    .b-logo__logo-contact {
        justify-content: center;
    flex-wrap: wrap;
    }

    .container {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    }

    .b-attention__description--decor {
    max-width: 840px;
    width: 100%;
    }

    .b-logo__image {
    max-width: 428px;
    width: 100%;
    }

    .b-description {  

    max-width: 479px;
    width: 100%;  
    text-align: center;
    }

    .b-feedback__input {

    max-width: 480px;
    width: 100%;
    }

    .b-input--callback{
    max-width: 340px;
    width: 100%;
    margin-bottom: 15px;
    }

    .b-footer__first-container{
    max-width: 396px;
    width: 100%;
    }

    .b-title__text {
        font-size: 36px;
    }

    .b-footer__content {
        flex-wrap: wrap;
    }
    .b-callback__form {
        flex-wrap: wrap;
    }

    .b-attention__text {
        padding-left: 0;
        text-align: center;
    }

    .b-advantage__item {
        font-size: 18px;
    }

    .b-description__text {
        font-size: 24px;
    }

    .b-description__sub-text {
        font-size: 24px;
    }

    .b-phone__link--header {
        font-size: 28px;
    }

    .b-hero__text {

        font-size: 24px;
    }

    .b-subtext--hero {
        font-size: 24px;
    }

    .b-callback__text {
        padding-left: 0;
    }

    .hero--position {
        text-align: center;
    }

    .b-feedback--header {
        align-items: center;
    }

    .b-callback__form {
        flex-wrap: wrap;
        max-width: 340px;
        margin: 0 auto;
    }

    .b-callback--position {
        text-align: center;
    }

    .b-attention__description::before {
        display: none;
    }

    .b-title {
        text-align: center;
    }

    .b-advantage__list--position {
        padding-left: 100px;
        max-width: 565px;
        margin: 0 auto;
    }

    .b-job__list {
        max-width: 650px;
        margin: 0 auto;
    }

    .b-description::before {
        right: 50%;
        top: 0;
        transform: translate(50%, -100%) rotate(90deg);
    }

    .b-logo__image {
        margin-bottom: 20px;
    }

}



