* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}


/* Header */

.b-header {
  background: url(../images/header/background.png) no-repeat center center/cover;
  padding-top: 20px;
  padding-bottom: 60px;
}

.b-logo__logo-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 45px;
}

.b-logo {
  display: block;   
}

.b-logo__image {
  width: 428px;
}

.b-description {  
  position: relative;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.8);
  text-align: right;
  width: 479px;
  padding: 14px 18px 21px 15px;
   
}

.b-description::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  border: 15px solid transparent;
  border-right: 15px solid rgb(255, 255, 255, 0.8);
}

.b-description__text {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 9px;  
  
}

.b-description__sub-text {
  text-transform: uppercase;
  color: #bb1d1f;
  display: block;
  line-height: 1;
  letter-spacing: 1.7px;
}

.b-phone__link--header {
  position: relative;
  display: inline-block;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 48px;
  line-height: 1;  
  text-decoration: none;
  color: #000000;
}

.b-phone__link--header:hover {
  color: #bb1d1f;
}



.b-phone__link--header::after {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(to right, #000 1px, #000 17px, transparent 17px, transparent 29px);
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
}

.b-phone__link--header:hover::after {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(to right,  #bb1d1f 1px,  #bb1d1f 17px, transparent 17px, transparent 29px);
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
}

.hero--position {
  transform: translate(0, 3px);
  margin-bottom: 43px;
}

.b-hero__text {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -0.4px;
  background: #fff no-repeat;
  margin-bottom: 12px;
  padding: 2px 30px 10px 17px;
  transform: translate(0, -2px);
}

.b-subtext--hero {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 36px;
  color: #bb1d1f;  
}

/* Header Form */


.b-feedback--header {
  display: flex;
  flex-direction: column;
}

.b-feedback__input {
  margin: 0;
  width: 480px;
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
  padding-left: 35px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 3.6rem;
  color: #000000;
  background: transparent;
}

.feedback__input--position {
  margin-bottom: 4rem;
}

.b-feedback__input::placeholder {
  transform: translate(0, -3px);
}

.b-feedback__label {
  position: relative;
}

.b-feedback__label::before {
  position: absolute;
  top: -2px;
  left: 6px;
  content: "*";
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 36px;
  color: #bb1d1f;
}

.b-feedback__submit {
  width: 280px;
  text-transform: uppercase;
  color: #fff;
  background: #bb1d1f;
  box-shadow: 2px 3px 5px 0px rgb(0, 0, 0, 70%);
  border: none;
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -0.3px;
  
}

.b-feedback__input::placeholder {
  color: #000000;
}

/* Section job */

.b-job {
  padding-top: 57px;  
}

.b-title {
  margin-bottom: 74px;
}

.b-title__text {
  padding-top: 1px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 48px;
  line-height: 35px;
  letter-spacing: -0.5px;
  margin-bottom: 7px;
  
}

.b-job__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 38px;  
}

.b-job__list::after {
  content: "";
  flex-basis: 33%;
}

.b-job__item {
  width: 282px;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.b-job__image {  
  width: 137px;
  height: 137px;
  margin-right: 8px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.b-job__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-job__text {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;  
  line-height: 1.2;  
}

.b-subtext--job {
  text-transform: uppercase;
  color: #bb1d1f;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;  
  line-height: 1.2;  
}

/* section advantage */

.b-advantage--position-color {
  padding-top: 67px;
  padding-bottom: 38px;
  background: #f7f7f7;
}

.b-title--advantage-position {
  margin-bottom: 83px;
  
}

.b-advantage__list--position {
  padding-left: 100px;
}

.b-advantage__item {
  position: relative;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin-bottom: 43px;
}

.b-advantage__item::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -58px;
  width: 13px;
  height: 19px;
  border-right: 7px solid #e51c20;
  border-bottom: 7px solid #e51c20;
  transform: rotate(45deg);
}

/* section attention */

.b-attention--position {
  padding-top: 103px;
  padding-bottom: 96px;
}

.b-attention__title--position {
  margin-bottom: 27px;
}

.b-attention__text {
  margin-bottom: 15px;
  padding-left: 156px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: -0.3px;
}

.b-attention__text--position {
  margin-bottom: 5px;
}

.b-attention__description--decor {
  position: relative;
  margin: 0 auto;
  width: 840px;
  border: 3px solid #ff9c00;
  border-radius: 8px;
  padding: 23px 51px 22px 51px;
  text-align: center;
}

.b-attention__description::before {
  content: "!";
  position: absolute;
  bottom: 52%;
  right: 90%;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 260px;
  line-height: 264px;
}

.b-attention__text-container {
  transform: translate(1px, 1px);
}

.b-attention__text-description-italic {
  position: relative;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;  
  padding-bottom: 36px;
}

.b-attention__text-description-italic::after {
  position: absolute;
  content: "";
  top: 59px;
  right: 50%;
  transform: translate(50%, 0);
  height: 3px;
  width: 110px;
  background: #000;
}
.b-attention__text-description {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
}

.b-attention__text-description--position {
  margin-bottom: 22px;
}

/* Section form down */

.b-callback--position {
  padding-top: 36px;
  padding-bottom: 45px;
  background: #bb1d1f;
}

.b-callback__text {
  margin-bottom: 40px;
  padding-left: 70px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #f7f7f7;
}

.b-callback__subtext {
  text-transform: uppercase;
}

.b-callback__form {
  display: flex;
  justify-content: space-between;
}

.b-input--callback{
  width: 340px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #000;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  padding: 10px 0 8px 13px;
  letter-spacing: -0.5px;
  }

.b-submit--callback {
  width: 240px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.2px;
  color: #fff;
  border: 2px solid #fff;
  background: #bb1d1f;
}

/* footer */

.b-footer--position {
  padding-top: 42px;  
  padding-bottom: 93px;  
}

.b-footer__content {
  display: flex;
  justify-content: space-between;
}

.b-footer__first-container{
  width: 396px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transform: translate(-1px, -2px);
}

.b-phone__link--footer {
  position: relative;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 22px;
  color: #000;
  text-decoration: none;
  line-height: 2px;
  transform: translate(-2px, 1px);
}

.b-phone__link--footer:hover {
  color: #bb1d1f;
}
.b-phone__link--footer::after {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(to right, #000, #000 7px, transparent 7px, transparent 13px);
  bottom: 3px;
  left: -2px;
  width: 100%;
  height: 1px;
}

.b-phone__link--footer:hover::after {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(to right, #bb1d1f,  #bb1d1f 7px, transparent 7px, transparent 13px);
  bottom: 3px;
  left: -2px;
  width: 100%;
  height: 1px;
}

.b-footer__first-text {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 2.1rem;
  transform: translate(0, -7px);
}

.b-footer__second-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.b-footer__second-logo {
  transform: translate(2px, 0);
}

.b-footer__second-text {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  color: #9b9b9b;
  transform: translate(0, -8px);
  letter-spacing: 0.9px;
}